body {
  font-family: var(--h-font-family);
  font-weight: 400;
  font-size: var(--h-font-size-base);
  color: var(--h-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: var(--h-text-color-primary);
  text-decoration: none;
  &:hover &:focus {
    color: var(--h-color-primary-light-3);
  }
  &:active {
    color: var(--h-color-primary-light-5);
    text-decoration: underline;
  }
}
